.button-primary {
  background-color: $color-main;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 14px 18px;
  margin: 0;
  text-decoration: none !important;
  font-size: 1.000em;
  text-transform: uppercase;
  transition: .4s ease;

  &:hover {
    background-color: darken($color-main, 20%);
  }
}