.button-primary {
  display: inline-block;
  background-color: $color-main;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: .5rem;
  margin: 0;
  text-decoration: none !important;
  font-size: 1em;
  text-transform: uppercase;
  transition: .2s all ease;

  &:hover {
    background-color: darken($color-main, 10%);
    color: white !important;
  }
}

.button-inline {
  color: $color-main;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none !important;
  transition: .2s all ease;

  &:hover {
    color: #fff;
  }
}

.button-outline {
  display: inline-block;
  text-transform: uppercase;
  color: #fff !important;
  cursor: pointer;
  background: transparent;
  font-size: .9rem;
  border: 1px solid $color-main;
  border-radius: 5px;
  text-decoration: none !important;
  padding: .3rem 1rem;
  transition: .2s all ease;

  &:hover {
    background-color: $color-main;
    color: #fff;
  }
}
