.form-ui {
  background-color: $background-form;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  &__title {
    font-size: 1.5rem;
    color: $color-secondary;
  }

  &__button-close {
    fa {
      font-size: 1.5rem;
      color: $color-secondary;
      transition: .2s all ease-in-out;
    }

    &:hover fa {
      color: #fff;
    }
  }

  label {
    color: $color-secondary;
  }

  textarea:disabled,
  input:disabled {
    background-color: $background-form;
    border: 1px solid $color-secondary;
  }

  &__input {
    background-color: $background-card;
    border: 0;
    color: #fff !important;
    font-size: 1.5 !important;
    height: auto !important;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:focus {
      background-color: $background-card;
      border: 0;
    }
  }

  &__message {
    color: $yellow;
    font-size: .9rem !important;
  }

  &__result-list{
    padding: 0;
    margin: 0 0 2rem 0;
    list-style-type: none;

    li {
      display: flex;
      margin-bottom: 1.5rem;
    }
  }

  &__result-book-image {
    margin-right: 20px;
    img {
        width: 140px;
    }
  }

  &__result-book-title {
    color: #fff;
    font-size: 1.4rem;
  }

  &__result-book-info small {
    font-size: 1rem;
    color: $color-secondary;
  }

  &__result-book-author,
  &__result-book-edition {
    color: #fff;
    font-size: 1.1rem;
  }
}

.label-info {
  padding: .3rem 1rem;
  color: $background-primary;
  text-transform: uppercase;
  font-size: .9rem;
  border-radius: 5px;

  &--reading {
    background-color: $green;
  }

  &--borrowed {
    background-color: $yellow;
  }
  &--expired {
    background-color: $red;
  }
}
