.form-ui {
  background-color: $background-form;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  &__title {
    font-size: 1.5rem;
    color: $color-secondary;
  }

  &__button-close {
    fa {
      font-size: 1.5rem;
      color: $color-secondary;
      transition: .2s all ease-in-out;
    }

    &:hover fa {
      color: #fff;
    }
  }

  &__input {
    background-color: $background-card;
    border: 0;
    color: #fff !important;
    font-size: 1.5 !important;
    height: auto !important;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:focus {
      background-color: $background-card;
      border: 0;
      
    }
  }

  &__message {
    color: $yellow;
    font-size: .9rem !important;
  }
}