$background-primary: #141020;
$color-main: #5100E2;
$color-secondary: #A19FC1;
$background-card: #0F001A;
$background-form: #251B2F;
$green: #59E542;
$red: #E7374C;
$yellow: #C0E724;

// Provisório
.label-info {
  padding: .3rem 1rem;
  color: $background-primary;
  text-transform: uppercase;
  font-size: .9rem;
  border-radius: 5px;

  &--reading {
    background-color: $green;
  }

  &--borrowed {
    background-color: $yellow;
  }
  &--expired {
    background-color: $red;
  }
}