@import "../../../../assets/scss/variables";

.user-box {
  &__name {
    font-size: 1.250em;
    color: orange;
    text-decoration: none !important;
    color: $cor-texto;
  }

  &__options {
    background-color: $cor-texto;
    border-radius: 5px;
    padding: 10px;
    display: none;

    ul {
      padding-left: 0;
      list-style: none;
      margin: 0;

      li:first-child {
        border-bottom: 1px solid $cor-fundo;
      }
    }

    a {
      color: $cor-fundo;
      text-decoration: none !important;
      display: inline-flex;
      font-size: 1.125em;
      padding: 5px 0;
    }
  }
}