@import "../../../assets/scss/variables";
@import "../../../assets/scss/buttons";

.header-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 35px;
  border-bottom: 2px solid $cor-input;
  padding-bottom: 10px;

  &__titulo {
    color: $cor-texto;
    margin-bottom: 0;
    font-size: 1.500em;
  }
}