<form action="" class="form-ui">
  <div class="row">
    <div class="col-12">
      <div class="form-ui__header">
        <h2 class="form-ui__title">Adicione um novo livro a sua Lista de Desejos</h2>
        <a href="#" class="form-ui__button-close"><fa name="close" class="icon"></fa></a>
      </div>
    </div>
    <div class="col-10">
      <div class="form-group">
        <input type="text" name="searchBook" class="form-control form-ui__input">
        <small class="form-text form-ui__message">Ah que peninha :( Não encotramos este livro.</small>
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="button-primary w-100">Buscar</button>
    </div>
  </div>
  <a href="#" class="button-inline">Adicionar Livro Manualmente</a>
</form>