@import "../../../assets/scss/variables";

.book{
    background-color: $background-card;
    padding: 15px;
    border-radius: 10px;
    display: flex;

    &__image{
        margin-right: 20px;
        img {
            width: 140px;
        }
    }

    &__title{
        font-size: 1.300em;
        color: #fff;
        font-weight: 600;
    }

    &__author, 
    &__edition{
        font-size: 1.125em;
        color: $color-secondary;
        margin-bottom: .2rem;
    }

    &__buttonAdd {
        color: #fff;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        background-color: $background-form;
        font-size: .9em;
        padding: .3rem 1rem;
        transition: .2s all ease;
        border-radius: 5px;

        &:hover {
            background-color: $color-main;
            color: #fff;
        }
    }

    small {
        color: #fff;
    }
}