@import "../../../assets/scss/variables";
@import "../../../assets/scss/buttons";

.book{
    background-color: $cor-input;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;

    &__image{
        width: 200px;
        margin-right: 20px;
        //background-image: url("../../../assets/images/book-default.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;  
        left: 50%;
        top: 50%;
        margin-top: -150px;
    }

    &__title{
        font-size: 1.500em;
        color: #fff;
        font-weight: 600;
    }

    &__author, 
    &__edition{
        font-size: 1.125em;
        color: $cor-texto;
        margin-bottom: .2rem;
    }

    &__buttonAdd{
        color: #fff;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        background-color: $cor-form;
        font-size: .8em;
        padding: 5px 7px;
        border-radius: 3px;
    }
}