<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="register">
        <form method="POST" (submit)="salvarNovoUsuario()" [formGroup]="formNovoUsuario" class="form-ui">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="register__header">
                <img src="{{logopath}}">
                <p>Crie sua conta e começe gerenciar seus livros de maneira fácil.</p>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="nome">*Nome:</label>
                <input type="text" formControlName="nome" id="nome" class="form-control form-ui__input">
                <small class="form-text form-ui__message d-none">Você precisa informar seu nome.</small>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="email">*Email:</label>
                <input type="password" formControlName="email" id="email" class="form-control form-ui__input">
                <small class="form-text form-ui__message d-none">Você precisa informar seu email.</small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="login">*Login:</label>
                <input type="text" formControlName="login" id="login" class="form-control form-ui__input">
                <small class="form-text form-ui__message d-none">Você precisa informar seu login.</small>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="senha">*Senha:</label>
                <input type="password" formControlName="senha" id="senha" class="form-control form-ui__input">
                <small class="form-text form-ui__message d-none">Você precisa informar sua senha.</small>
              </div>
            </div>
            <div class="col-6 mt-4">
              <a routerLink="/login" class="button-outline text-center w-100 py-2">Voltar para o login</a>
            </div>
            <div class="col-6 mt-4">
              <button type="submit" class="button-primary w-100">Finalizar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
