@import "../../../assets/scss/variables";

.menu-principal{
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid $color-main;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    li {
      width: 100%;
    }
  }

  &__item {
    font-size: 1.500em;
    text-decoration: none !important;
    color: $color-main;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    transition: .4s ease;
    &:hover {
      color: #fff;
    }
  }

  .item-ativo {
    background-color: $color-main;
    color: #fff;
  }
}

