<nav class="menu-principal">
  <ul>
    <li>
      <a routerLinkActive="item-ativo" routerLink="/listadedesejos" class="menu-principal__item">Lista de desejo</a>
    </li>
    <li>
      <a routerLinkActive="item-ativo" routerLink="/biblioteca" class="menu-principal__item">Biblioteca</a>
    </li>
    <li>
      <a routerLinkActive="item-ativo" routerLink="/informacoes" class="menu-principal__item">Informações</a>
    </li>
    <li>
      <a routerLinkActive="item-ativo" routerLink="/lidos" class="menu-principal__item">Lidos</a>
    </li>
  </ul>
</nav>
