<nav class="menu-pages">
  <ul>
    <li>
      <a routerLinkActive="item-active" routerLink="/listadedesejos" class="menu-pages__item">Lista de desejo</a>
    </li>
    <li>
      <a routerLinkActive="item-active" routerLink="/biblioteca" class="menu-pages__item">Biblioteca</a>
    </li>
    <li>
      <a routerLinkActive="item-active" routerLink="/informacoes" class="menu-pages__item">Informações</a>
    </li>
    <li>
      <a routerLinkActive="item-active" routerLink="/lidos" class="menu-pages__item">Lidos</a>
    </li>
  </ul>
</nav>
