<form method="POST" (ngSubmit)="novoLivroBiblioteca()" [formGroup]="formulario" class="form-ui">
  <div class="row">
    <div class="col-2">
      <div class="form-group">
        <label for="titulo">ID Usuário:</label>
        <input type="text" name="usuario_id" formControlName="usuario_id" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="titulo">Biblioteca:</label>
        <input type="text" name="biblioteca" formControlName="biblioteca" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-ui__header">
        <h2 class="form-ui__title">Adicione um novo livro a sua Lista de Desejos</h2>
        <a href="#" class="form-ui__button-close"><fa name="close" class="icon"></fa></a>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" formControlName="titulo" class="form-control form-ui__input" autocomplete="off">
        <small class="form-text form-ui__message d-none">Você precisa informar o título do livro.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <label for="autor">Autor(es):</label>
        <input type="text" name="autor" formControlName="autor" class="form-control form-ui__input" autocomplete="off">
        <small class="form-text form-ui__message d-none">Você precisa informar o autor do livro.</small>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="edicao">Edição:</label>
        <input type="text" name="edicao" formControlName="edicao" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="editora">Editora:</label>
        <input type="text" name="editora" formControlName="editora" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <label for="indicacao">Indicação:</label>
        <input type="text" name="indicacao" formControlName="indicacao" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="isbn">Preço:</label>
        <input type="text" name="preco" formControlName="preco" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="imagem">Imagem:</label>
        <input type="text" name="imagem" formControlName="imagem" class="form-control form-ui__input" autocomplete="off">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" formControlName="descricao" cols="30" rows="10" class="form-control form-ui__input"></textarea>
      </div>
    </div>
  </div>
  <div class="row justify-content-beetwen">
    <div class="col-6">
      <div class="form-group form-check pt-4">
        <input type="checkbox" name="lido" formControlName="lido" class="form-check-input" id="lido">
        <label for="lido" class="form-check-label">Marcar este livro como Lido?</label>
      </div>
    </div>
    <div class="col-6">
      <label class="d-block">&nbsp;</label>
      <button type="submit"  class="button-primary px-5 pull-right">Adicionar a Biblioteca</button>
    </div>
  </div>
</form>
